.box {
  background-color: aqua;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.obrazek1,
.obrazek2 {
  border-radius: 30%;
  border: 2px solid rgb(7, 7, 94);
}

.nadpis {
  font-size: 50px;
  color: rgb(7, 7, 94);
  
}
