body {
  background-color: rgb(204, 240, 240);
}

.vizitka {
  width: 500px;
  height: 200px;
}
.kontejner {
  display: flex;
  flex-basis: 700px;
  height: 300px;
  background-color: white;
}

.levy {
  width: 50%;
}

.pravy {
  width: 50%;
}

.obrazek {
  width: 220px;
}