body {
  background-color: rgb(204, 240, 240);
  display: flex;
  justify-content: center;
  align-items: center;
}

.vizitka {
  width: 530px;
  height: 320px;
}

.kontejner {
  display: flex;
  flex-basis: 530px;
  height: 320px;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.levy {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.pravy {
  width: 50%;
}

.obrazek {
  width: 220px;
  border: 1px solid rgb(43, 43, 51);
}